.content{
    width: 100%;
    position: absolute;
}
.content img{
    width: 100%;
}
.slider-container{
    /* padding-left: 0.29rem;
    padding-right: 0.29rem; */
}

.swiper-slide{
    display: flex;
    justify-content: center;
    
    /* overflow: hidden; */
    /* padding-left: 0.29rem; */
    /* padding-right: 0.29rem; */
}
.swiper-slide img{
    width: calc(100% - 0.58rem) ;
    border-radius: 5px;
}
