.homePopular{
    height: 7.966667rem;
    padding-top: .32rem;
    display: flex;
    padding-right: .32rem;
    padding-left: .32rem;
}
.homePopular img{
    /* flex: 0 0 50%; */
    width: 4.684267rem;
    height: 3.84rem;
}