
.shop-box-banner{
    display: flex;
    overflow-y: scroll;
    height: 3.013333rem;
    margin-left: .266667rem;
    padding: .4rem 0;
}
.shop-box-banner::-webkit-scrollbar{
    display: none;
}
.shop-banner-img{
    flex: 0 0 95%;
    height: 3.013333rem;
    padding-right: .266667rem;
}
.shop-box-banner img{
    width: 100%;
    height: 100%;
}